{% extends "FrontBundle::layout.html.twig" %}

{#
{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron tails tailCarsAmount col-md-6">
                masz 24 samochody
            </div>

            <div class="jumbotron tails tailHiddenCarsAmount col-md-5">
                10 ukrytych
            </div>

            <div class="jumbotron tails tailMostViewed col-md-5">
                najczęściej odwiedzany: <br />
                <a href="">some long car title</a>
            </div>

            <div class="jumbotron tails tailViewsAmount col-md-5">
                suma odwiedzin: 10 000
            </div>

        </div>
    </div>
{% endblock %}
#}
