{% extends "FrontBundle::frontendLayout.html.twig" %}

{% block title %}
    404 - page not found
{% endblock title %}

{% block body %}
    <div class="grid_8">
        <div class="inner-block">
            <div class="box-1">
                <h2 class="h2-border">404 - strony nie znaleziono!</h2>
                Niestety nie znaleźliśmy, tego czego szukasz. Wciśnij "wstecz" w oknie przeglądarki.
            </div>
        </div>
    </div>

    <div class="clear"></div>
{% endblock body %}
