{% extends "LAHFrontBundle::frontendLayout.html.twig" %}

{% block title %}
    error
{% endblock title %}

{% block body %}
    <div class="grid_8">
        <div class="inner-block">
            <div class="box-1">
                <h2 class="h2-border">błąd</h2>
                Skontaktuj się z administracją! <a href="mailto:{{ email_address }}">{{ email_address }}</a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
{% endblock body %}
