parameters:
    base_url:          http://lukas.local

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     lukas
    database_user:     ~
    database_password: ~

    test_database_name:     lukas_test
    test_database_user:     replace_this_test_user
    test_database_password: replace_this_test_pass

    sqlite_database_user:     admin
    sqlite_database_password: admin

    mailer_user:       ~
    mailer_password:   ~

    locale:            pl
    secret:            AMyNieChcemyUciekaćStąd

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: false

    delivery_address: uirapuruadg@gmail.com
    mailer_sendto:
      - lukas.l.sobanski@gmail.com
      - lukas.i.molfa@gmail.com
      - lukas.m.pieniazek@gmail.com

    sentry_backend_dsn:         ~
    sentry_backend_dsn_dev:     ~

    company_name:       "XTBS Łukasz Sobański"
    company_address:    "Bystrzycka 67 A<br />54-215 Wrocław, Dolnośląskie"
    company_email:      "lukas.l.sobanski@gmail.com"
    company_phone:      "+48 793 698 171"

    google_verification_code:    ~

    accelerator_cache_user: ~
    accelerator_cache_pass: ~