{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success flash-notice">
        {{ flashMessage|trans }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger flash-notice">
        {{ flashMessage|trans }}
    </div>
{% endfor %}
