<div id="slide" class="camera_wrap camera_azure_skin">
    {% for car in cars %}
    <div data-src="/uploads/{{ car.image }}">
        <div class="banner camera_caption fadeFromBottom">
            <p>
                <strong>{{ car.brand_name }}</strong>
                <a href="{{ url("show", {id: car.id, slug: car.slug}) }}">{{ car.title }}</a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
