{%  extends "::base.html.twig" %}

{%  block body %}

    {{ form_start(form, {
        action: url('add_image'),
        attr: {
            novalidate: 'novalidate'
        }
    }) }}

    {{ form_row(form.car) }}

    {{ form_row(form.file) }}

    <button type="submit">
        send
    </button>

    {{ form_end(form) }}
{%  endblock body %}
